.search-field {
  width: 2rem;
}

/* ===== font set ===== */

html,
.font-sans {
  font-family: -apple-system, 'Noto Sans', 'Helvetica Neue', Helvetica,
    'Nimbus Sans L', Arial, 'Liberation Sans', 'PingFang SC', 'Hiragino Sans GB',
    'Noto Sans CJK SC', 'Source Han Sans SC', 'Source Han Sans CN',
    'Microsoft YaHei', 'Wenquanyi Micro Hei', 'WenQuanYi Zen Hei', 'ST Heiti',
    SimHei, 'WenQuanYi Zen Hei Sharp', sans-serif;
}

/* ===== .alert ===== */

.alert,
.alert-warning {
  margin: 0.2em 0;
  background: #fbd9d3;
  color: #000;
  padding: 0.2em 0;
}

/* Text meant only for screen readers. */

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;

  /* Many screen reader and browser combinations announce broken words as they would appear visually. */

  &:focus {
    background-color: #eee;
    clip: auto !important;
    clip-path: none;
    color: #444;
    display: block;
    font-size: 1em;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 4;

    /* Above WP toolbar. */
  }
}

/* ===== body, header, main, footer ===== */

$header-width: 10rem;
$header-margin-left: 1rem;
$footer-height: 10rem;

body {
  position: relative;

  /*	padding-bottom: $footer-height;
	min-height: calc(100vh - 1px - #{ $footer-height });*/
  background-image: url('../images/bg.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #fff;
}

header.banner {
  position: fixed;
  width: calc(#{$header-width} - 2rem);
  height: 100vh;
  margin-left: $header-margin-left;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.15);

  /*	-webkit-box-shadow: 2px 2px 18px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 2px 2px 18px 0px rgba(0,0,0,0.3);
	box-shadow: 2px 2px 18px 0px rgba(0,0,0,0.3);*/
  z-index: 2;
  padding: 0 1rem;

  a.logo {
    direction: ltr;
    text-indent: -999em;
    display: inline-block;
    width: 100px;
    height: 93.03px;
    background-image: url('../images/logo/logo.png');
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 0;
    margin: 2.5rem 14px 0;
    opacity: 0.7;
    transition: opacity 0.4s;

    &:hover {
      opacity: 0.4;
    }
  }
}

/* ===== Gloabal header navigation bar (header.banner) ===== */

nav.nav-primary {
  margin: 1.5rem 0;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  a {
    line-height: 2.3em;
  }
}

form.search-form {
  margin: 0;
  padding: 0;
}

input {
  &.search-submit {
    display: none;
  }

  &.search-field {
    background: none;
    width: 100%;
    border: 1px solid #777;
    text-align: center;
    color: #999;
    padding: 0.2em;

    &::placeholder {
      color: #555;
    }
  }
}

/* main, container, article header's clearfix (display: flow-root) */

main:before,
.entry-content:before,
.container:before,
article > header:before,
.page-header:before,
.gallery:before,
main:after,
.entry-content:after,
.container:after,
article > header:after,
.page-header:after,
.gallery:after {
  content: ' ';

  /* 1 */
  display: table;

  /* 2 */
}

main:after,
.entry-content:after,
.container:after,
article > header:after,
.page-header:after,
.gallery:after {
  clear: both;
}

/*main {
	min-height: calc(100vh - 1px - #{ $footer-height });
}*/

main {
  padding-left: #{$header-width + $header-margin-left};
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

/*footer.content-info {
	height: $footer-height;
	position: absolute;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: $secondary-back-color;
	border-top: 1px solid $border-color;
}

footer.content-info > .container {
	height: $footer-height;
}*/

.page-container {
  $page-container-padding: 2.5rem;

  /*min-height: calc(100vh - #{ $page-container-padding } * 2);*/
  padding: $page-container-padding 1.5rem;
}

// #page-front {}

.info {
  text-align: center;
  font-weight: bold;
  margin: 0.2rem auto;
}

h1#event-title {
  font-size: 200%;
  margin-top: 3rem;
}

#event-slogan {
  color: #e7b846;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

#event-date {
  font-size: 185%;
  color: #e7b846;
}

#event-location {
  font-size: 125%;
}

#reg-button {
  border: 1px solid #fff;
  border-radius: 0.3em;
  font-size: 140%;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  text-shadow: none;
  background-image: none;
  padding: 0.4em;
  width: 8em;
  text-align: center;
  display: block;
  margin: 4.5rem auto 0;
  transition: background-color 0.4s;

  &:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
}

html {
  scroll-behavior: smooth;
}

.partener-logo-container {
  margin-top: 4.5rem;
  text-align: center;

  a {
    background: none;
    transition: opacity 0.4s;

    &:hover {
      opacity: 0.6;
    }
  }
}

img.partener-logo {
  height: 4rem;
  margin: 1.1rem;
  -webkit-box-reflect: below 10px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(40%, transparent), to(rgba(255, 255, 255, 0.35)))
}

h2 {
  font-size: 160%;
  color: #e7b846;
  text-align: center;
}

.text-content {
  margin-right: 3rem;
  margin-left: 3rem;
}

ul#programme-list {
  font-weight: bold;
  line-height: 1.5em;

  ul,
  ol {
    font-weight: normal;
    margin-bottom: 0.5em;
  }
}

table#table-people {
  border-collapse: collapse;
  margin: 2rem auto;
  border: 3px solid #fff;

  th {
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid #fff;
    padding: 0.4rem 0.6rem;
  }

  td {
    border: 1px solid #fff;
    padding: 0.4rem 0.6rem;
  }

  tr {
    transition: background-color 0.4s;

    &:hover {
      background-color: rgba(0, 0, 0, 0.4);
    }
  }
}

form#registration {
  line-height: 1.5em;
  width: 28rem;
  margin: auto;
}

label.reg-label {
  font-size: 120%;
}

input[type='text'] {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  border: 1px solid #fff;
  color: #fff;
  margin-bottom: 1.2rem;
  padding: 0.4em;
  font-size: 110%;
  transition: background-color 0.4s;

  &:hover,
  &:focus {
    background-color: rgba(0, 0, 0, 0.6);
  }

  &::placeholder {
    color: #ccc;
  }
}

#submit-button {
  cursor: pointer;
  font-size: 120%;
  background-color: #fff;
  border: none;
  padding: 0.4em 1em;
  margin: 0.6rem auto 0;
  display: block;
  transition: background-color 0.4s;
  font-weight: bold;

  &:hover {
    background-color: #e7b846;
  }
}

#notice {
  margin: 1.5rem auto 0;
  font-size: 80%;
  width: 28rem;
}

#alert-notice {
  position: fixed;
  width: 18rem;
  height: 6rem;
  line-height: 6rem;
  top: 50%;
  left: 50%;
  margin-left: -10rem;
  margin-top: -4rem;
  padding: 1rem;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  font-size: 120%;
  text-align: center;
  opacity: 0;
  transition: opacity 0.8s;
  display: none;
  border-radius: 1rem;

  &.shown {
    opacity: 1;
  }

  &.display-shown {
    display: block;
  }

  span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }
}

a#banner-toggle-button {
  display: none;
  background: none;
  cursor: pointer;
  font-size: 200%;
  position: fixed;
  top: 12px;
  left: 6px;
  line-height: 1em;
  color: #999;
  transition: color 0.4s;
  z-index: 3;

  &:hover {
    color: #fff;
  }

  &::before {
    content: '\2630';
  }
}

body.touchdevice abbr[title] {
  text-decoration: none;
}

#read-container {
  margin: 2rem auto 0;
  position: relative;

  .progress-svg {
    width: 100%;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }

  .progress-max,
  .progress-value {
    fill: none;
  }

  .progress-max {
    stroke: rgba(0, 0, 0, 0.8);
  }

  .progress-value {
    stroke: rgba(247, 122, 82, 0.6);
    stroke-linecap: round;
  }
}

.read-text-container {
  position: absolute;
  text-align: center;
  width: 4rem;
  height: 2rem;
  line-height: 2rem;
  top: 50%;
  left: 50%;
  margin-left: -2rem;
  margin-top: -1rem;
  color: rgba(247, 122, 82, 0.6);
  font-weight: bold;
}

.read-percentage:after {
  content: ' ';
}

.curpose-container {
  height: 100vh;
  position: relative;
}

.curpose-animated-1 {
  width: 100%;
  height: 100%;
  background-image: url('../images/cloud-lo.png');
  background-size: 95%;
  background-position-x: 50%;
  background-position-y: 20%;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.curpose-animated-2 {
  width: 100%;
  height: 100%;
  background-image: url('../images/cloud-mi.png');
  background-size: 95%;
  background-position-x: 50%;
  background-position-y: 20%;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.curpose-animated-3 {
  width: 100%;
  height: 100%;
  background-image: url('../images/cloud-hi.png');
  background-size: 95%;
  background-position-x: 50%;
  background-position-y: 20%;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.curpose-text {
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 14rem;
  width: 40%;
  display: inline-block;
  z-index: 999;
  margin-top: -9rem; // calc(-7rem - 2rem)
  margin-left: calc(-20% - 2rem);
  padding: 2rem;
}

ul#feature-list {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    list-style: none;
    vertical-align: top;
    margin: 0;
    padding: 0;
    position: relative;
    font-weight: bold;
    font-size: 140%;
    text-align: center;
    transition: color 0.4s;

    &:hover {
      color: #e7b846;
    }
  }
}

@media only screen and (min-width: 880px) {
  ul#feature-list li {
    width: 24%;
  }
}

@media only screen and (max-width: 879.9px) {
  ul#feature-list li {
    width: 49%;
  }
}

@media only screen and (max-width: 480px) {
  ul#feature-list li {
    width: 99%;
  }
}

@font-face {
  font-family: 'mywebfonticon';
  src: url('../fonts/mywebfonticon.eot');
  src: url('../fonts/mywebfonticon.eot?#iefix') format('embedded-opentype'),
    url('../fonts/mywebfonticon.woff') format('woff'),
    url('../fonts/mywebfonticon.ttf') format('truetype'),
    url('../fonts/mywebfonticon.svg#mywebfonticon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.feature-icon:before {
  font-family: 'mywebfonticon';
  display: inline-block;
  width: 100%;
  font-size: 9rem;
  font-weight: normal;
}

#feature-1:before {
  content: '\0041';
}

#feature-2:before {
  content: '\0042';
}

#feature-3:before {
  content: '\0043';
}

#feature-4:before {
  content: '\0044';
}

.gallery-image-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: auto;
  height: 200vh;
}

.gallery-image {
  flex: auto;
  margin: 0 8px 8px 0;
  background-size: cover;
  background-position: center;
  transition: opacity 0.4s;

  &:hover {
    opacity: 0.6;
  }
}

.gallery-image-1 {
  background-image: url('../images/gallery/1.jpg');
  height: 18rem;
}

.gallery-image-2 {
  background-image: url('../images/gallery/2.jpg');
  height: 10rem;
}

.gallery-image-3 {
  background-image: url('../images/gallery/3.jpg');
  height: 13rem;
}

.gallery-image-4 {
  background-image: url('../images/gallery/4.jpg');
  height: 22rem;
}

body {
  margin: 0;
}

.slide-viewport {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.slide-wrapper {
  width: 400%;

  /* 100% * slideNumber */
  -webkit-transition: transform 0.5s;
  transition: transform 0.5s;

  &[data-slide='1'] {
    transform: translateX(0);
  }

  &[data-slide='2'] {
    transform: translateX(-25%);

    /* -100% / slideNumber * (thisSlideIndex - 1) */
  }

  &[data-slide='3'] {
    transform: translateX(-50%);

    /* -100% / slideNumber * (thisSlideIndex - 1) */
  }

  &[data-slide='4'] {
    transform: translateX(-75%);

    /* -100% / slideNumber * (thisSlideIndex - 1) */
  }
}

.slide-c {
  width: 25%;

  /* 100% / slideNumber */
  float: left;
  position: relative;
  display: inline-block;
}

.slide-wrapper img {
  width: 100%;
}

.slide-control {
  position: absolute;
  top: 50%;
  width: 100%;
}

.slide-number {
  position: absolute;
  bottom: 1rem;
  width: 10rem;
  left: 50%;
  margin-left: -5rem;
  text-align: center;
}

.slide-button {
  display: inline-block;
  background-image: none;
  transition: opacity 0.4s;
  opacity: 0.8;

  &:hover {
    opacity: 0.3;
  }
}

.slide-number .slide-button {
  display: inline-block;
  background-color: #fff;
  background-image: none;
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
  line-height: 1rem;
  padding: 0;
  margin: 0 0.5rem;
  box-shadow: 2px 2px 4px #333;
}

.slide-control .slide-button {
  color: #fff;
  line-height: 4rem;
  height: 4rem;
  margin-top: -2rem;
  font-size: 3rem;
  text-shadow: 2px 2px 4px #333;
  position: absolute;

  &.slide-button-prev {
    left: 0;
  }

  &.slide-button-next {
    right: 0;
  }
}

#parallax-bg-image {
  height: 10rem;
  background-image: url('../images/gallery/3.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
}

@keyframes showtitle {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#event-title,
#event-slogan,
#event-date,
#event-location {
  animation-name: showtitle;
  animation-duration: 2s;
}

@media only screen and (max-width: 766px) {
  header.banner {
    display: none;
  }

  main {
    padding-left: 0;
  }

  body {
    &.show-menu header.banner {
      display: block;
      margin-left: 0;
      background-color: rgba(0, 0, 0, 0.8);
    }

    background-size: 300%;
    background-position: 51% center;
    background-repeat: repeat-y;
    background-attachment: fixed;
  }

  header.banner a.logo {
    margin-top: 4rem;
  }

  img.partener-logo {
    height: 6.5rem;
  }

  .text-content {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
  }

  form#registration,
  #notice {
    width: 85%;
  }

  #submit-button {
    max-width: 85%;
    white-space: normal;
  }

  a#banner-toggle-button {
    display: block;
  }
}
